* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 150vh;
    background-color: aqua;
}

div {
    width: 80%;
    height: 60vh;
    position: relative;
    top: 0;
    left: 0;
    transform: translateX(-99%);
}

.first {
    background-color: black;
}

.second {
    background-color: blue;
}

.third {
    background-color: purple;
}