header.about_us::after {
    background-image: url(images/galeria/smoke.jpg);
}

.about {
    position: relative;
    display: grid;
    height: 160vh;
    min-height: 360px;
    grid-template-columns: 1fr;
    row-gap: 2vh;
    grid-row-gap: 2vh; /*safari */
    column-gap: 5vh;
    grid-column-gap: 5vh; /*safari */
}

.about::after {
    background-image: none;
}

.about section {
    position: relative;
    height: 100%;
    min-height: 90px;
    width: 100%;
    transform: translate(0, 0);
    opacity: 1;
    cursor: pointer;
}

.about div {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 33%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
}

.about h2 {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translatey(-50%);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
}

.about section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 90px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    z-index: -100;
    transition: .5s linear;
    border-radius: 20px;
}

section:hover:after {
    filter: none;
}

.one::after {
    background-image: url(images/galeria/fence.jpg);
    background-position: top;
}

.two::after {
    background-image: url(images/galeria/bee_bread.jpg);
}

.three::after {
    background-image: url(images/galeria/apples.jpg);
}

.four::after {
    background-image: url(images/galeria/house_sunset.jpg);
}

/* popup */

.close {
    display: none;
}

.close.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-40%, -40%);
    width: 40px;
    height: 40px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    z-index: 12;
}

.close.active i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
}

.popup_wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    max-height: 200vh;
    transform: translatey(-200vh);
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 11;
    transition: .3s linear;
}

.popup_wrap.active {
    transform: translatey(0);
}

.popup_wrap div {
    display: none;
}

.popup_wrap div.active {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    row-gap: 1vh;
    grid-row-gap: 1vh; /*safari*/
    position: fixed;
    left: 50%;
    top: 50%;
    height: 95%;
    width: 91%;
    transform: translate(-50%, -50%);
    border: 2px solid rgb(150, 150, 150);
    border-radius: 20px;
}

div.wrap.blur {
    filter: blur(2px);
}

.text {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "img text";
    position: relative;
    background-image: linear-gradient(rgba(252, 223, 200, 0.7), rgba(243, 201, 192, 0.7));
    border-radius: 20px;
}

.popup_one .text:nth-of-type(2) {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "text img";
}

.text p {
    position: absolute;
    display: block;
    grid-area: text;
    width: 100%;
    top: 50%;
    transform: translatey(-50%);
    font-size: 0.85rem;
    text-align: justify;
    padding: 5px;
}

div.img {
    position: relative;
    display: block;
    grid-area: img;
    height: 100%;
    width: 100%;
    
}

div.img img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px; 
    padding: 5px;
}

.popup_two .img img {
    transform: translate(-50%, -55%);
}

.popup_two .text {
    grid-template-areas:
     "h2 text"
     "img text";
     grid-template-rows: 1fr 4fr;
}

.popup_two .text:nth-of-type(2) {
    grid-template-areas:
     "text h2"
     "text img";
     grid-template-columns: 2fr 1fr;
}


.popup_two .name {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    grid-area: h2;
}

.popup_two h2 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
}

@media (orientation:landscape) {
    .about {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 2vh;
        grid-row-gap: 2vh; /*safari */
        column-gap: 2vh;
        grid-column-gap: 2vh; /*safari */
    }

    .about div {
        position: absolute;
    }

    .popup_wrap div.active {
        display: grid;
        width: 90%;
    }
}


@media (min-width:768px) {
    .text p {
        font-size: 1.2rem;
    }

}