header.about_us .img {
    background-image: url(images/galeria/smoke.jpg);
}

main.about {
    position: relative;
    display: grid;
    height: 160vh;
    min-height: 360px;
    grid-template-columns: 1fr;
    row-gap: 2vh;
    grid-row-gap: 2vh; /*safari */
    column-gap: 5vh;
    grid-column-gap: 5vh; /*safari */
}

main.about::after {
    background-image: none;
}

main.about section {
    position: relative;
    height: 100%;
    min-height: 90px;
    width: 100%;
    transform: translate(0, 0);
    opacity: 1;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
}

main.about div {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 33%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
}

main.about h2 {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translatey(-50%);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
}

main.about section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 90px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    z-index: -100;
    transition: .3s linear;
}

main.about section:hover:after {
    filter: none;
    transform: scale(1.05);
}

.one::after {
    background-image: url(images/galeria/fence.jpg);
    background-position: top;
}

.two::after {
    background-image: url(images/galeria/bee_bread.jpg);
}

.three::after {
    background-image: url(images/galeria/apples.jpg);
}

.four::after {
    background-image: url(images/galeria/house_sunset.jpg);
}

/* popup */

.close {
    display: none;
}

.close.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-30%, -30%);
    width: 40px;
    height: 40px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    z-index: 12;
}

.close.active i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
}

.close:hover {
    cursor: pointer;
}

.popup_wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    max-height: 200vh;
    transform: translatey(-200vh);
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 11;
    transition: .3s linear;
}

.popup_wrap.active {
    transform: translatey(0);
}

.popup_wrap div {
    display: none;
}

.popup_wrap div.active {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    row-gap: 1vh;
    grid-row-gap: 1vh; /*safari*/
    position: fixed;
    left: 50%;
    top: 50%;
    height: 95vh;
    width: 91vw;
    min-height: 250px;
    min-width: 250px;
    transform: translate(-50%, -50%);
    border: 2px solid rgb(189, 104, 104);
    border-radius: 20px;
}

div.wrap.blur {
    filter: blur(2px);
}

.popup_wrap .text {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "img text";
    position: relative;
    opacity: 1;
    background-image: linear-gradient(rgba(252, 223, 200, 0.7), rgba(243, 201, 192, 0.7));
    border-radius: 20px;
}

.popup_one .text:nth-of-type(2) {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "text img";
}

.popup_wrap .text p {
    position: absolute;
    display: block;
    grid-area: text;
    width: 100%;
    top: 50%;
    transform: translatey(-50%);
    font-size: 0.8rem;
    text-align: justify;
    padding: 10px;
}

div.img {
    position: relative;
    display: block;
    grid-area: img;
    height: 100%;
    width: 100%;
    
}

div.img img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px; 
    padding: 5px;
}

.popup_two .img img {
    transform: translate(-50%, -50%);
}

.popup_two .text {
    grid-template-areas:
     "img h3"
     "img text";
     grid-template-rows: 1fr 7fr;
     grid-template-columns: 1fr 3fr;
}

.popup_two .text:nth-of-type(2) {
    grid-template-areas:
     "h3 img"
     "text img";
     grid-template-columns: 3fr 1fr;
}


.popup_two .name {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    grid-area: h3;
}

.popup_two h3 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 10px;
}

.popup_three .text {
    grid-template-areas: 
    "img text"
    "img text";
}

.popup_three .text:nth-of-type(2) {
    grid-template-areas: 
    "text img"
    "text img";
    grid-template-columns: 3fr 1fr;
}

.popup_three .text{
    grid-template-columns: 1fr 3fr;
}

.text span {
    font-weight: bold;
}

.popup_three .img img {
    transform: translate(-50%, -50%);
}

@media (orientation:landscape) {

    .popup_three .text{
        grid-template-rows: 1fr;
    }

    .popup_three .img img {
        transform: translate(-50%, -50%) rotate(0deg);
        max-height: 75%;
    }

    main.about {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 2vh;
        grid-row-gap: 2vh; /*safari */
        column-gap: 2vh;
        grid-column-gap: 2vh; /*safari */
    }

    main.about div {
        position: absolute;
    }

    .popup_wrap div.active {
        display: grid;
        width: 90%;
    }

    .popup_three .text {
        grid-template-areas: "img text";
    }
}

@media (min-width:720px) {

    .popup_wrap .text p {
        font-size: 1.05rem;
    }

    .popup_wrap .text h3 {
        font-size: 1.5rem ;
    }
}

@media (orientation:portrait) and (min-height:640px) and (max-height:700px) {
    .popup_wrap .text h3  {
        font-size: 1.4rem;
    }
    
    .popup_wrap .text p {
        font-size: 0.9rem;
    }
}

@media (orientation:portrait) and (min-height:701px) and (max-height:850px) {
    .popup_wrap .text h3  {
        font-size: 1.6rem;
    }
    
    .popup_wrap .text p {
        font-size: 1.05rem;
    }
}