header.contact {
    height: 60vh;
}

header.contact .img {
    height: 60vh;
    background-image: url(images/galeria/contact_background.jpg);
    background-position: center;
}

main.contact {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    row-gap: 2vh;
    grid-row-gap: 2vh; /*safari*/
}

.contact section {
    display: flex;
    flex-direction: column;
    height: 65vh;
    min-height: 400px;
    opacity: 1;
    transform: translatex(0);
}

/* map section */

.contact .instruction {
    height: 10vh;
    width: 100%;
    background-color: rgb(243, 232, 207);
    position: relative;
    border-bottom: 4px solid rgb(0, 0, 0);
}

.contact h2 {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translatey(-50%);
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
}

.map {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    
}

/* form section */

.form_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(rgb(252, 223, 200), rgb(243, 201, 192));
    overflow: hidden;
    padding: 5px 10px;
}

.who, .email, .message {
    width: 75%;
    position: relative;
}

.form label, .form input, .form textarea {
    display: block;
    width: 100%;
}

.form textarea {
    height: 100%;
}

.form button {
    border: 1px solid black;
    background-color: #fff;
    cursor: pointer;
}

@media (orientation:landscape) {
    main.contact {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        column-gap: 2vh;
        grid-column-gap: 2vh; /*safari*/
    }
    .contact section {
        height: 110vh;
    }
    .contact .instruction {
        height: 15vh;}
}

@media (min-width:360px) {
    .contact h2 {
        font-size: 1.3rem;
    }
}

@media (orientation:portrait) and (min-width:400px) {
    .contact h2 {
        font-size: 1.5rem;
    }
}

@media (orientation:portrait) and (min-width:768px) {
    .contact section {
        height: 60vh;
    }
    .contact .instruction {
        height: 10vh;
    }
    .contact h2 {
        font-size: 2rem;
    }
    .form_container {
        font-size: 1.3rem;
    }
    .form input {
        width: 60%;
    }
    .form button {
        font-size: 1.2rem;
    }
}