
header.about_us::after {
    background-image: url(images/galeria/smoke.jpg);
}

.about {
    height: 160vh;
    min-height: 360px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2vh;
    column-gap: 5vh;
}

.about::after {
    background-image: none;
}

.about section {
    position: relative;
    height: 100%;
    min-height: 90px;
    width: 100%;
    transform: translate(0, 0);
    opacity: 1;
    cursor: pointer;
}

.about div {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 33%;
    transform: translateY(-50%);
    background-color: rgba(255,255,255,0.7);
}

.about h2 {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translatey(-50%);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
}

.about section::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 90px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    z-index: -100;
    transition: .5s linear;
}

section:hover:after {
    filter: none;
}

.one::after {
    background-image: url(images/galeria/fence.jpg);
    background-position: top;
}

.two::after {
    background-image: url(images/galeria/bee_bread.jpg);
}

.three::after {
    background-image: url(images/galeria/apples.jpg);
}

.four::after {
    background-image: url(images/galeria/house_sunset.jpg);
}

.popup_wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translatey(-100vh);
    background-color: rgba(255,255,255,0.8);
    z-index: 11;
    transition: .3s linear;
}

.popup_wrap.active {
    transform: translatey(0);
}

.popup_wrap div {
    display: none;
}

.popup_wrap div.active {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 2vh;
    column-gap: 1vh;
    position: fixed;
    left: 50%;
    top: 50%;
    height: 90%;
    width: 90%;
    transform: translate(-50%, -50%);
    border: 2px solid rgb(150, 150, 150);
}

div.wrap.blur {
    filter: blur(2px);
}

.close {
    display: none;
}

.close.active {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    width: 40px;
    height: 40px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    background-color: white;
    z-index: 12;
}

.close.active i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
}

.text {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(252, 223, 200, 0.7), rgba(243, 201, 192, 0.7));
}

.text p {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translatey(-50%);
    font-size: 0.8rem;
    text-align: center;
    padding: 5px;
}

div.img {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba(243, 232, 207, 0.7);
}

div.img img {
    display: block;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* filter: grayscale(); */
}

.popup_wrap div.active .text {
    display: block;
}

@media (orientation:landscape) {
.about {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2vh;
    column-gap: 2vh;
}

.about div {
    position: absolute;
}

.popup_wrap div.active {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
}

}