header.about_us::after {
    background-image: url(images/galeria/smoke.jpg);
}

.about {
    height: 160vh;
    min-height: 360px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2vh;
    column-gap: 5vh;
}

.about::after {
    background-image: none;
}

.about section {
    position: relative;
    height: 100%;
    min-height: 90px;
    width: 100%;
    transform: translate(0, 0);
    opacity: 1;
}

.about div {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 33%;
    transform: translateY(-50%);
    background-color: rgba(255,255,255,0.7);
}

.about h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
}

.about section::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 90px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    z-index: -100;
    transition: .5s linear;
}

section:hover:after {
    filter: none;
}

.one::after {
    background-image: url(images/galeria/fence.jpg);
    background-position: top;
}

.two::after {
    background-image: url(images/galeria/bee_bread.jpg);
}

.three::after {
    background-image: url(images/galeria/apples.jpg);
}

.four::after {
    background-image: url(images/galeria/house_sunset.jpg);
}

@media (orientation:landscape) {
.about {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2vh;
    column-gap: 2vh;
}

.about div {
    position: absolute;
}
}