header.gallery {
    height: 60vh;
}

header.gallery .img {
    height: 60vh;
    background-image: url(images/galeria/gallery_bckground.jpg);
    background-position: center;
} 

main.gallery::after {
    content: none;
}

main.gallery {
        position: relative;
        display: flex;
        height: auto;
        min-height: 400px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
}

.column {
    flex: 50%;
    flex-grow: 0;
    padding: 0px 3px;
    overflow: hidden;
}

img {
    width: 100%;
    margin-top: 6px;
    vertical-align: middle;
    border-radius: 20px; 
}

@media (min-width:700px) {
    .column {
        flex: 25%;
    }
}