/* Normalize CSS start */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

body {
    line-height: 1.4;
    color: black;
    background: white;
}

ol,
ul {
    list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: """";
}

* {
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

/* End of Normalize */

/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

body {
    overflow-x: hidden;
    font-size: 16px;
}

.wrap {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    max-width: 1280px;
    row-gap: 5vh;
    margin: 0 auto;
    overflow-x: hidden;
}

header {
    position: relative;
    height: 100vh;
    min-height: 360px;
}

.burger {
    position: fixed;
    top: 40px;
    right: 20px;
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
    z-index: 10;
}

.burger i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
    font-size: 1.25rem;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
}

.burger i.active {
    opacity: 1;
    -webkit-transition-delay: .2s;
         -o-transition-delay: .2s;
            transition-delay: .2s;
}

nav {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -95%);
        -ms-transform: translate(-50%, -95%);
            transform: translate(-50%, -95%);
    width: 50vw;
    height: 50vh;
    min-height: 200px;
    text-align: center;
    border: 1px solid black;
    border-top: none;
    background-color: rgb(255, 242, 212);
    z-index: 100;
    -webkit-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}

nav.active {
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
}

nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

nav li {
    width: 100%;
    height: 25%;
}

nav a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
}

nav a:hover {
    background-color: rgb(255, 255, 255);
}

header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 360px;
    background-image: url(images/galeria/working_in_sunset.jpg);
    background-position: center;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -100;
}

.title {
    position: absolute;
    bottom: 25%;
    left: 0;
    width: 100%;
    height: 15%;
    background-color: rgba(255, 255, 255, 0.7);
}

h1 {
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translatey(-50%);
        -ms-transform: translatey(-50%);
            transform: translatey(-50%);
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

main {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 130vh;
    min-height: 400px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

main::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 130vh;
    min-height: 400px;
    background-image: url(images/galeria/garden.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -100;
}

section {
    height: 29%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: .5s linear;
    -o-transition: .5s linear;
    transition: .5s linear;
    opacity: 0;
    -webkit-transform: translateX(-100vw);
        -ms-transform: translateX(-100vw);
            transform: translateX(-100vw);
}

section.active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
}

.left {
    position: relative;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    background-color: rgb(243, 232, 207);
}

.left h2 {
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translatey(-50%);
        -ms-transform: translatey(-50%);
            transform: translatey(-50%);
    font-size: 1.25rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.right {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
    text-align: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(252, 223, 200)), to(rgb(243, 201, 192)));
    background-image: -o-linear-gradient(rgb(252, 223, 200), rgb(243, 201, 192));
    background-image: linear-gradient(rgb(252, 223, 200), rgb(243, 201, 192));
    border-top: 4px solid rgb(0, 0, 0);
}

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 25vh;
    min-height: 90px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    background-color: black;
    color: white;
}

.footerleft {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    position: relative;
}

.footerleft h2 {
    position: absolute;
    top: 75%;
    width: 100%;
    -webkit-transform: translatey(-50%);
        -ms-transform: translatey(-50%);
            transform: translatey(-50%);
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.footerright {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

footer ul {
    padding-left: 10px;
    font-size: 0.9rem;
}

footer a {
    color: white;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
}

footer a:hover i {
    color: royalblue;
}

footer li {
    border-left: 1px solid white;
    padding: 0 10px;
}

footer i {
    padding-right: 5px;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
}

@media (orientation:portrait) and (min-width:360px) {

    .burger {
        top: 40px;
        right: 30px;
        width: 40px;
        height: 40px;
    }

    .burger i {
        font-size: 1.3rem;
    }

    h1 {
        font-size: 2rem;
    }

    nav a {
        font-size: 1.1rem;
    }

    .left h2 {
        font-size: 1.5rem;
    }

    .right {
        font-size: 1rem;
        padding: 10px 15px;
    }

    .footerleft {
        -ms-flex-preferred-size: 30%;
            flex-basis: 30%;
    }

    .footerleft h2 {
        font-size: 1.25rem;
    }

    .footerright {
        -ms-flex-preferred-size: 70%;
            flex-basis: 70%;
    }

    footer ul {
        padding-left: 10px;
    }

}

@media  (min-width:750px) {

    .burger {
        top: 40px;
        right: 40px;
        width: 50px;
        height: 50px;
    }

    .burger i {
        font-size: 1.6rem;
    }

}

@media (orientation:portrait) and (min-width:500px) {

    h1 {
        font-size: 2.1rem;
    }

    nav a {
        font-size: 1.25rem;
    }

    .left h2 {
        font-size: 1.6rem;
    }

    .right {
        font-size: 1.1rem;
    }
}

@media (min-height:700px),
(min-width:750px) {

    nav a {
        font-size: 1.4rem;
    }

    h1 {
        font-size: 2.4rem;
    }

    .left h2 {
        font-size: 1.8rem;
    }

    .right {
        font-size: 1.2rem;
    }

    .footerleft h2 {
        font-size: 1.3rem;
    }

    footer ul {
        font-size: 1.1rem;
    }
}

@media (orientation:landscape) {

    .title {
        height: 20%;
    }

    section {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .left {
        -ms-flex-preferred-size: 30%;
            flex-basis: 30%;
        border-right: 4px solid rgb(255, 255, 255)
    }

    .right {
        -ms-flex-preferred-size: 70%;
            flex-basis: 70%;
        border: none;
    }

    footer {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .footerleft {
        -ms-flex-preferred-size: 30%;
            flex-basis: 30%;
    }

    .footerleft h2 {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }

    .footerright {
        -ms-flex-preferred-size: 70%;
            flex-basis: 70%;
    }

}

@media (min-width: 1024px) {
    nav a {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 2.6rem;
    }

    .left h2 {
        font-size: 2rem;
    }

    .right {
        font-size: 1.3rem;
    }

    .footerleft h2 {
        font-size: 1.5rem;
    }

    footer ul {
        font-size: 1.2rem;
    }
}

@media (min-width: 1280px) {
    .burger {
        right: 10vw;
    }
}